openapi: 3.2.0
info:
  title: Ticket Tailor Check Ins API
  description: The Ticket Tailor API is a public REST API for the Ticket Tailor online event ticketing platform.
  version: '1.0'
  contact:
    name: Ticket Tailor
    url: https://developers.tickettailor.com/docs/intro/
servers:
- url: https://api.tickettailor.com/v1
  description: Ticket Tailor API v1
security:
- basicAuth: []
tags:
- name: Check Ins
  description: Attendee check-ins recorded at the door.
paths:
  /check_ins:
    get:
      tags:
      - Check Ins
      summary: List check-ins
      description: Returns a paginated list of check-ins.
      operationId: getCheckIns
      parameters:
      - $ref: '#/components/parameters/startingAfter'
      - $ref: '#/components/parameters/endingBefore'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of check-ins.
    post:
      tags:
      - Check Ins
      summary: Create a check-in
      description: Records a check-in for an issued ticket at the door.
      operationId: createCheckIn
      responses:
        '201':
          description: The recorded check-in.
components:
  parameters:
    endingBefore:
      name: ending_before
      in: query
      required: false
      description: Cursor - return results that come before this object ID.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of results per page (max 100).
      schema:
        type: integer
        maximum: 100
        default: 100
    startingAfter:
      name: starting_after
      in: query
      required: false
      description: Cursor - return results that come after this object ID.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Supply your Ticket Tailor API key as the username and leave the password blank. Keys are managed in box office settings and are scoped to the issuing box office.
