openapi: 3.0.3
info:
  title: Ticket Tailor Check-ins Issued Tickets API
  description: The Ticket Tailor API is a public REST API for the Ticket Tailor online event ticketing platform. It exposes a box office programmatically - events, event series, orders, issued tickets, ticket types, ticket groups, vouchers, and check-ins - over HTTPS. Requests are authenticated with an API key using HTTP Basic Auth, where the API key is supplied as the username and the password is left blank. An API key can only access data from the box office that issued it. Endpoints that enumerate objects use cursor-based pagination via the starting_after and ending_before parameters (maximum 100 results per page). The API is rate limited to 5000 requests per 30 minutes; POST /issued_memberships is further limited to 30 requests per hour.
  version: '1.0'
  contact:
    name: Ticket Tailor
    url: https://developers.tickettailor.com/docs/intro/
servers:
- url: https://api.tickettailor.com/v1
  description: Ticket Tailor API v1
security:
- basicAuth: []
tags:
- name: Issued Tickets
  description: Individual tickets issued to attendees.
paths:
  /issued_tickets:
    get:
      tags:
      - Issued Tickets
      summary: List all issued tickets
      description: Returns a paginated list of issued tickets.
      operationId: getAllIssuedTickets
      parameters:
      - $ref: '#/components/parameters/startingAfter'
      - $ref: '#/components/parameters/endingBefore'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of issued tickets.
    post:
      tags:
      - Issued Tickets
      summary: Create an issued ticket
      description: Issues a new ticket.
      operationId: createIssuedTicket
      responses:
        '201':
          description: The created issued ticket.
  /issued_tickets/{id}:
    get:
      tags:
      - Issued Tickets
      summary: Retrieve an issued ticket
      description: Retrieves a single issued ticket by its ID.
      operationId: getIssuedTicket
      parameters:
      - $ref: '#/components/parameters/idPath'
      responses:
        '200':
          description: The requested issued ticket.
  /issued_tickets/{id}/void:
    post:
      tags:
      - Issued Tickets
      summary: Void an issued ticket
      description: Voids an issued ticket so it is no longer valid.
      operationId: voidIssuedTicket
      parameters:
      - $ref: '#/components/parameters/idPath'
      responses:
        '200':
          description: The voided issued ticket.
components:
  parameters:
    startingAfter:
      name: starting_after
      in: query
      required: false
      description: Cursor - return results that come after this object ID.
      schema:
        type: string
    endingBefore:
      name: ending_before
      in: query
      required: false
      description: Cursor - return results that come before this object ID.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of results per page (max 100).
      schema:
        type: integer
        maximum: 100
        default: 100
    idPath:
      name: id
      in: path
      required: true
      description: The unique identifier of the object.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Supply your Ticket Tailor API key as the username and leave the password blank. Keys are managed in box office settings and are scoped to the issuing box office.
