openapi: 3.0.3
info:
  title: Ticket Tailor Check-ins Event Series API
  description: The Ticket Tailor API is a public REST API for the Ticket Tailor online event ticketing platform. It exposes a box office programmatically - events, event series, orders, issued tickets, ticket types, ticket groups, vouchers, and check-ins - over HTTPS. Requests are authenticated with an API key using HTTP Basic Auth, where the API key is supplied as the username and the password is left blank. An API key can only access data from the box office that issued it. Endpoints that enumerate objects use cursor-based pagination via the starting_after and ending_before parameters (maximum 100 results per page). The API is rate limited to 5000 requests per 30 minutes; POST /issued_memberships is further limited to 30 requests per hour.
  version: '1.0'
  contact:
    name: Ticket Tailor
    url: https://developers.tickettailor.com/docs/intro/
servers:
- url: https://api.tickettailor.com/v1
  description: Ticket Tailor API v1
security:
- basicAuth: []
tags:
- name: Event Series
  description: Parent containers that group one or more event dates.
paths:
  /event_series:
    get:
      tags:
      - Event Series
      summary: List all event series
      description: Returns a paginated list of event series in the box office.
      operationId: getAllEventSeries
      parameters:
      - $ref: '#/components/parameters/startingAfter'
      - $ref: '#/components/parameters/endingBefore'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of event series.
    post:
      tags:
      - Event Series
      summary: Create an event series
      description: Creates a new event series.
      operationId: createEventSeries
      responses:
        '201':
          description: The created event series.
  /event_series/{id}:
    get:
      tags:
      - Event Series
      summary: Retrieve an event series
      description: Retrieves a single event series by its ID.
      operationId: getEventSeries
      parameters:
      - $ref: '#/components/parameters/idPath'
      responses:
        '200':
          description: The requested event series.
    put:
      tags:
      - Event Series
      summary: Update an event series
      description: Updates an existing event series.
      operationId: updateEventSeries
      parameters:
      - $ref: '#/components/parameters/idPath'
      responses:
        '200':
          description: The updated event series.
    delete:
      tags:
      - Event Series
      summary: Delete an event series
      description: Deletes an event series.
      operationId: deleteEventSeries
      parameters:
      - $ref: '#/components/parameters/idPath'
      responses:
        '200':
          description: The event series was deleted.
  /event_series/{id}/status:
    patch:
      tags:
      - Event Series
      summary: Change event series status
      description: Publishes or unpublishes an event series by changing its status.
      operationId: updateEventSeriesStatus
      parameters:
      - $ref: '#/components/parameters/idPath'
      responses:
        '200':
          description: The event series with its updated status.
components:
  parameters:
    startingAfter:
      name: starting_after
      in: query
      required: false
      description: Cursor - return results that come after this object ID.
      schema:
        type: string
    endingBefore:
      name: ending_before
      in: query
      required: false
      description: Cursor - return results that come before this object ID.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of results per page (max 100).
      schema:
        type: integer
        maximum: 100
        default: 100
    idPath:
      name: id
      in: path
      required: true
      description: The unique identifier of the object.
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Supply your Ticket Tailor API key as the username and leave the password blank. Keys are managed in box office settings and are scoped to the issuing box office.
